@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 14px;
}

#root {
  @apply h-screen;
}

body {
  padding: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  max-width: 800px;
  margin: auto auto;
  @apply text-gray-900;
  background: radial-gradient(
      circle at 100% 50%,
      transparent 20%,
      rgba(200, 200, 200, 0.1) 21%,
      rgba(200, 200, 200, 0.1) 34%,
      transparent 35%,
      transparent
    ),
    radial-gradient(
        circle at 0% 50%,
        transparent 20%,
        rgba(200, 200, 200, 0.1) 21%,
        rgba(200, 200, 200, 0.1) 34%,
        transparent 35%,
        transparent
      )
      0 -50px;
  background-size: 75px 100px;
}

.question,
.players,
.status,
.answer {
  background: white;
}

.question:before,
.answer:before,
.status:before{
  content: '';
  display: block;
  height: 100%;
  width: 97%;
  bottom: -10px;
  left: 1.5%;
  position: absolute;
  z-index: -1;
  background: #ccc;
  border-radius: 0.5rem;
  opacity: 0.5;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
}

.status-icon {
  width: 3rem;
}

.answer-button {
  @apply mb-6;
}

.answer-button:last-of-type {
  @apply mb-0;
}

.wave {
  position: absolute;
  height: 27%;
  width: 120%;
  background: deeppink;
  top: 0;
}

.wave::before,
.wave::after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 50% 100%;
}

.wave::before {
  width: 53.5%;
  height: 83%;
  background-color: deeppink;
  right: 0;
  top: 40%;
}
.wave::after {
  width: 58.5%;
  height: 60%;
  @apply bg-gray-200;
  left: 0;
  top: 80%;
}

main {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.25),
    0 10px 10px -5px rgba(0, 0, 0, 0.75);
}

.timer {
  background: rgb(137, 200, 246);
  background: linear-gradient(
    0deg,
    rgba(137, 200, 246, 1) 0%,
    rgba(99, 179, 237, 1) 100%
  );
  height: 50%;
}

.timer.bottom {
  background: linear-gradient(
    0deg,
    rgba(99, 179, 237, 1) 0%,
    rgba(137, 200, 246, 1) 100%
  );
}

.timer::after {
  content: '';
  width: 100%;
  height: 2px;
  background: #fefefe;
  position: absolute;
}

.finish {
  background-image: linear-gradient(45deg, #222 25%, transparent 25%),
    linear-gradient(-45deg, #222 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #222 75%),
    linear-gradient(-45deg, transparent 75%, #222 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0;
  height: 100%;
  width: 30px;
  position: absolute;
  right: 0;
  top: 0;
}

.player {
  transform: translate3d(0, 0, 0);
}

@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 10px, 0);
  }
}

.bounce {
  animation: bounce 250ms;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-iteration-count: infinite;
}

.number {
  text-shadow: 1px 10px 5px #aba8a8, 2px 2px 2px rgba(206, 89, 55, 0);
}

@keyframes grow {
  0% {
    height: 0;
  }
  100% {
    height: 50%;
  }
}
