@tailwind base;

.input-text {
  @apply p-1;
  @apply border;
  @apply border-gray-400;
}

input[type=text] {
  @apply p-2;
  @apply w-full;
  @apply border;
  @apply shadow;
  @apply rounded-md;
  @apply border-gray-400;
}

@tailwind components;
@tailwind utilities;

:root {
  font-size: 14px;
}

#root {
  @apply h-screen;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  @apply text-gray-600;
}

.text-question{
  position: relative;
}

.text-question::before{
  content: "";
  background-image: url("./images/question.svg");
  background-repeat: no-repeat;
  background-position: center;
  font-size: 10rem;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.1;
}

.btn {
  @apply border;
  @apply py-2;
  @apply px-4;
  @apply rounded;
  @apply font-semibold;
  @apply text-gray-500;
  @apply mx-4;
  @apply shadow-sm;
  position: relative;
  @apply cursor-pointer;
}

.btn span, .btn label {
  @apply cursor-pointer;
  @apply mr-2;
}

.timer-container {
  height: 10px;
}

.timer {
  height: 10px;
}

.timer:before {
  content: '';
  @apply bg-blue-400;
  @apply absolute;
  top: 0;
  left: -1px;
  width: 0;
  height: 10px;
  border-radius: 0.25rem 0 0 0.25rem;
}

.timer-animation {
  animation: grow 30s linear forwards;
}


@keyframes grow {
  0%   { width: 0; }
  98%   { width: 98%;   border-radius: 0.25rem 0 0 0.25rem; }
  100% { width: 100%; border-radius: 0.25rem }
}
